.hidden-days-demo {
  display: flex;
  gap: 20px;
}

.scheduler-container {
  flex: 1;
  min-width: 0;
}

.options {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 220px;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  gap: 12px;
}

.caption {
  font-weight: 500;
  font-size: 18px;
}

.option {
  display: flex;
  flex-direction: column;
}
